#main-container{
    margin-top: 40vh;
    width: 100vw;
    height: 180vh;
    
    border-radius: 20px;
    box-shadow:  0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#dashboard-background{
    width: 40vw;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

#dashboard-container {
    border-radius: 20px;
    width: 40vw;
    height: 150vh;
    background-image: url(../../../assets/upscalemedia-transformed.jpeg);
    background-size: contain;
    background-repeat: no repeat;
}

.logos-container {
    margin-top: 50px;
    transform: translateY(-100vh);
    width: 36vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    box-shadow: 0 0 0px black;
    width: 9vw;
    object-fit: contain;
    height: auto;
    border-radius: 100%;
    border: none;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info p {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info > p:first-of-type {
    
    width: 12vw;
    font-size: 20px;
    text-shadow: 0 0 1px ;
}