#main-container{
    margin-top: 20vh;
    width: 100vw;
    height: 240vh;
    background: rgb(0,146,255);
   
    box-shadow:  0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#main-container img{
    width: 40vw;
}