@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(15deg, #0a1c25 0%, #2D336B 100%);
    color: white;
}
.firstcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    max-width: 60rem;
}
form>input{
    margin-bottom: 1rem;
    border: 0px;
}
.section{
    padding: 0rem 3rem;
    min-height: 100vh;
}
h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}
h3{
    margin: 2rem 0rem ;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
}
a{
    color:white ;
}
h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.inps{
    min-height: 2.5rem;
    min-width: 22rem;
    border-radius: 7px;
    transition: 0.5s ease;
}
label{
    font-size: 0.8rem;
}
.btn{
    color: white;   
    background-color: #7886C7;   
    padding: 0.5rem 1rem;
    border: 0px;
    border-radius: 7px;
    margin-bottom: 2rem ;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
.icons{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
}
.icons>i{
    margin-right: 1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.icons>i:hover{
    color: #7886C7;
    transform: scale(1.05);
}
.inps:hover{
    transform: scale(1.05);
}
.btn:hover{
    transform: scale(1.05);
    background-color: #2D336B;
    -webkit-transition:#7886C7 round-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    cursor: pointer;
}
.signup{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.aboutsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contactsection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}