/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    color:rgb(22,48,61);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    list-style: none;
    
    
}

.page-wrapper router-outlet ~ * {
    /* 1. Ensure the element is structured correctly */
    display: block; 
    width: 100%;
    min-height: 100vh; /* Ensures it occupies the space */
    
    /* 2. CRITICAL: Set the default, initial state to be invisible */
    opacity: 0;
    
    /* 3. Optional: Add a transition property for a simple fade animation
       in case the 'loaded' class is added without keyframes. */
    transition: opacity 0.5s ease-out; 
}
.page-wrapper.loaded router-outlet + * {
    opacity: 1;
    animation: slide-fade 0.5s ease-out;
}
::-webkit-scrollbar {
  display: none;
}
@keyframes slide-fade {
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}