
@font-face {
  font-family: 'Gl-Walsheim-Regular'; /* Choose a unique name for your font */
  src: url('assets/fonts/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf') format('opentype');
  font-weight: normal; /* Use 'bold', '300', '700', etc., if you have different weights */
  font-style: normal; /* Use 'italic' if you have an italic file */
}

*{
    margin: 0;
    padding: 0;
    color:rgb(22,48,61);
    font-family: 'Gl-Walsheim-Regular';
    list-style: none;
    
    
}

h1, h2{
    font-weight: 2000;
    text-shadow: 0 0 1px ;
}
.page-wrapper router-outlet ~ * {
    /* 1. Ensure the element is structured correctly */
    display: block; 
    width: 100%;
    min-height: 100vh; /* Ensures it occupies the space */
    
    /* 2. CRITICAL: Set the default, initial state to be invisible */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 3. Optional: Add a transition property for a simple fade animation
       in case the 'loaded' class is added without keyframes. */
    transition: opacity 0.5s ease-out; 
}
.page-wrapper.loaded router-outlet ~ * {
    opacity: 1;
    animation: slide-fade 0.5s ease-out;
}
::-webkit-scrollbar {
  display: none;
}
@keyframes slide-fade {
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}